# MODULE 9 Association Rule Mining Assignment 5

In [1]:
#Tasks to be performed:
#- Using pandas import the dataset as dataframe
#- Install the mixtend library to use apriory and association rule mining
#- Using the apriori algorithm generate a list of item frequently brought together.
#- Generate the association rules for the given items from apriori algorithm

In [5]:
pip install apyori

Requirement already satisfied: apyori in c:\users\india\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from apyori import apriori

In [7]:
retaildf = pd.read_csv(r"H:\Intellipaat data science\Python\Python for Data Science\Module 9\Assignment 5 - Association rule\Retail _2_.csv")

In [8]:
retaildf.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Transactions from the Database,NaN,NaN,#Transactions in which\n the item is bought,Support,NaN
1,"1 : { Pencils, Markers, Highlighters, Papers}",NaN,Pencils,2,0.2,NaN
2,"2 : {Markers, Erasers}",NaN,Markers,6,0.6,NaN
3,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",NaN,Highlighters,3,0.3,NaN
4,"4 : {Papers, Erasers, Cad Holders}",NaN,Papers,4,0.4,NaN

In [9]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\india\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: setuptools in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\india\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\india\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\india\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\india\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\india\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\india\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: six in c:\users\india\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\india\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\india\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
retaildf.shape

(18, 6)

In [15]:
records = []
for i in range(0, 18):
    records.append([str(retaildf.values[i,j]) for j in range(0,6)])

In [16]:
records[1]

['1 : { Pencils, Markers, Highlighters, Papers}',
 'nan',
 'Pencils',
 '2',
 '0.2',
 'nan']

In [17]:
association_rules = apriori(records, min_support = 0.0045, min_confidence=0.2, min_lift =3, min_length=2)
association_results = list(association_rules)

In [18]:
print(len(association_results))

224

In [19]:
print(association_results[0])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Construct item-sets with items that satisfy minimum support'}), support=0.05555555555555555, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Construct item-sets with items that satisfy minimum support'}), confidence=0.5, lift=9.0), OrderedStatistic(items_base=frozenset({'Construct item-sets with items that satisfy minimum support'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=9.0)])

In [20]:
print(association_results[1])

RelationRecord(items=frozenset({'Support', '#Transactions in which\n the item is bought'}), support=0.05555555555555555, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Support'}), confidence=0.5, lift=9.0), OrderedStatistic(items_base=frozenset({'Support'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=9.0)])

In [21]:
association_rules = apriori(records, min_support = 00.010, min_confidence=0.5, min_lift =2)
association_results = list(association_rules)

In [22]:
print(len(association_results))

224

In [23]:
print(association_results[0])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Construct item-sets with items that satisfy minimum support'}), support=0.05555555555555555, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Construct item-sets with items that satisfy minimum support'}), confidence=0.5, lift=9.0), OrderedStatistic(items_base=frozenset({'Construct item-sets with items that satisfy minimum support'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=9.0)])

In [24]:
print(association_results[2])

RelationRecord(items=frozenset({'#Transactions in which\n the item is bought', 'Support\nP(Markers�Erasers)'}), support=0.05555555555555555, ordered_statistics=[OrderedStatistic(items_base=frozenset({'#Transactions in which\n the item is bought'}), items_add=frozenset({'Support\nP(Markers�Erasers)'}), confidence=0.5, lift=9.0), OrderedStatistic(items_base=frozenset({'Support\nP(Markers�Erasers)'}), items_add=frozenset({'#Transactions in which\n the item is bought'}), confidence=1.0, lift=9.0)])

# end of assignment